<!-- FOOTER -->
<footer class="px-3 py-5 mt-md-5 pt-md-5 theme-bg-dark text-light">
  <div class="d-flex flex-column flex-lg-row justify-content-between w-100">
    <div class="col-lg-4 col-sm">
      <h6 class="text-uppercase mb-3">Payment methods</h6>
      <div class="my-5">
        <div class="payment-methods">
          <img src="/dist/img/paystack.svg" />
          <img src="/dist/img/visa.svg" />
          <img src="/dist/img/mastercard.svg" />
          <img src="/dist/img/verve.svg" />
        </div>
      </div>
    </div>
    <div class="col-lg-8 d-flex flex-column flex-lg-row justify-content-around">
      <div class="row col-lg-5 col-sm">
        <h6 class="text-uppercase mb-3">Subscribe</h6>
        <div class="input-group my-4">
          <input
            type="email"
            class="w-75 subscribe-input"
            placeholder="Email"
            aria-label="Email"
          />
          <div class="input-group-append w-25">
            <button
              class="btn btn-default text-white text-uppercase px-3 w-100"
              type="button"
            >
              <small class="font-weight-bold">Send</small>
            </button>
          </div>
        </div>
        <div class="social-links">
          <a href="http://"><img src="/dist/img/instagram.svg"/></a>
          <a href="http://"><img src="/dist/img/twitter.svg"/></a>
          <a href="http://"><img src="/dist/img/facebook.svg"/></a>
        </div>
      </div>
      <div class="row d-flex mt-5 mt-lg-0">
        <div class="col-md">
          <h6 class="text-uppercase mb-3">Categories</h6>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Shirts</a></li>
            <li><a class="text-muted" href="#">Mugs</a></li>
            <li><a class="text-muted" href="#">Phone cases</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-md mt-2 mt-md-0">
          <h6 class="text-uppercase mb-3">Contact us</h6>
          <ul class="list-unstyled text-small text-muted">
            <li>Plot 55, Block 3,</li>
            <li>Fatai Idowu Arobieke Street,</li>
            <li>Lekki Phase 1, Lagos</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
